/* Style de base */
body {
    font-family: 'open source', sans-serif;
    background-color: #1d2332;
    color: #22bed7;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    }
    padding-top: 70px; /* Ajoute un espace pour compenser la hauteur de la barre de navigation */


header .logo img {
    width:150px;
}

/* Style de base pour le header et le nav */

header {
    display: flex;
    justify-content: space-between; /* Espacer le logo à gauche et le menu à droite */
    align-items: center;
    background-color: #22BED7;
    padding: 10px 0;
    position: fixed; /* Fixe la barre de navigation */
    top: 0; /* Place la barre en haut de la page */
    width: 100%; /* Prend toute la largeur de la page */
    z-index: 1000; /* Assure que la barre est au-dessus des autres éléments */
    margin-right: 30px; /* Ajoute un espace à droite de la barre de navigation */
}


.logo img {
    width: 150px; /* Ajustez cette taille selon votre logo */
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
}

/* Le menu avec les éléments alignés à droite */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Le menu burger (hamburger menu) */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Style pour les petits écrans */
@media (max-width: 768px) {
    /* Cacher le menu sur petit écran */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #22BED7;
        width: 200px;
        padding: 10px;
        z-index: 1000; /* Assurez-vous que le menu a une valeur de z-index plus élevée que l'image */
    }

    .menu li {
        margin: 10px 0;
    }
    
    /* Le menu toggle doit être affiché sur les petits écrans */
    @media (max-width: 768px) {
        .menu-toggle {
            display: block; /* Le menu burger s'affiche en mode mobile */
        }

        .menu {
            display: none; /* Le menu se cache par défaut en version mobile */
        }

        .menu.active {
            display: flex; /* Le menu apparaît quand il est activé */
        }
    }

}
.hidden {
    display: none;
}

.arrow-back {
    display: inline-block;
    margin-right: 20px; /* espace entre la flèche et le logo */
}

.arrow-back svg {
    cursor: pointer; /* change le curseur pour indiquer que c'est cliquable */
    fill: white; /* changez la couleur de la flèche si nécessaire */
}


.hero {
  background: url('image/cover1.jpeg') no-repeat center center/cover; /* Ajoutez votre image de fond ici */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-text {
  text-align: center;
  color: #fff; /* Couleur du texte */
  position: absolute; /* Positionnement absolu pour superposer le texte */
}

.hero-text h1 {
  font-size: 3rem;
  margin: 5px;
}

.hero-text p {
  font-size: 1.5rem;
    margin: 5px
}

.btn {
    display: inline-block; /* Pour rendre le lien comme un bouton */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    background-color: #22BED7; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Animation au survol */
}

.btn:hover {
    background-color: #22BED7; /* Couleur de fond au survol */
}

.service-list {
    display: flex;
    justify-content: center; /* Centrer les services */
    flex-wrap: wrap; /* Permet d'aligner les services sur plusieurs lignes si nécessaire */
}

.service-item {
    width: 300px; /* Largeur fixe pour uniformiser les box */
    height: 250px; /* Hauteur fixe pour que toutes les box aient la même taille */
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacement autour de chaque service */
    display: flex; /* Utiliser flex pour centrer le contenu */
    flex-direction: column; /* Orienter le contenu verticalement */
    justify-content: center; /* Centrer le contenu verticalement */
    transition: transform 0.2s; /* Effet de survol */
}

.service-item p {
    color: #000; /* Couleur du texte */}
.service-plus p {
    color: #000; /* Couleur du texte */}
.service-item:hover {
    transform: scale(1.05); /* Agrandir légèrement lors du survol */
}

.about-image {
    width: 100%; /* Ajuster la largeur à 100% du conteneur */
    max-width: 600px; /* Limiter la largeur à 600px */
    height: auto; /* Garder les proportions */
    display: block; /* Faire de l'image un élément block */
    margin: 20px auto; /* Centrer l'image horizontalement avec une marge en haut et en bas */
    border-radius: 10px; /* Arrondir les coins de l'image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre à l'image */
}

.actualites {
    padding: 5px;
    background-color: #fff;
}

.actualite-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Pour que les éléments se réorganisent sur plusieurs lignes */
}

.actualite-item {
    width: 30%;
    margin: 15px 0;
    text-align: center;
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 20px; /* Espacement interne */
}

.actualite-item img {
    width: 100%; /* Pour que l'image prenne toute la largeur du conteneur */
    height: auto; /* Pour conserver les proportions de l'image */
    border-radius: 10px; /* Coins arrondis pour l'image */
}

.actualite-item h3 {
    margin: 10px 0; /* Espacement autour du titre */
}

.actualite-item p {
    color: #000000; /* Couleur de texte pour la description */
}

.agency-info {
    background-color: #22BED7 ;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.agency-info h2 {
    margin-bottom: 10px;
    color: #fff;
}

.agency-info p {
    color: #fff;
}

.location {
    position: relative;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    background-color: #22BED7;
    border: 2px solid #22BED7;;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.location:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.dropdown-icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.location:hover .dropdown-icon {
    transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    min-width: 250px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.location:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content p {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.dropdown-content:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #333; /* Couleur des icônes */
    font-size: 30px; /* Taille des icônes */
    margin: 0 10px; /* Espacement entre les icônes */
    text-decoration: none; /* Enlever le soulignement */
    transition: color 0.3s; /* Effet de transition pour le survol */
}

.social-media a:hover {
    color: #fff; /* Couleur au survol */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #22BED7;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Styles pour les petits écrans */
@media (max-width: 480px) {
    header .logo img {
        width: 100px; /* Réduit la taille du logo */
    }

    .hero h1 {
        font-size: 2rem; /* Réduit la taille du texte */
    }
}
.main {
    padding: 20px;
}
.service-detail p {
    color: #000000; /* Couleur du texte */
    }
.service-detail li {
    color: #000000; /* Couleur du texte */
    }

.website-types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website-type {
    background-color: #fff;
    border: 1px solid #22BED7;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    width: 80%;
    text-align: center;
}

.website-type img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.website-type h2 {
    margin: 10px 0;
}

.website-type:hover {
    transform: scale(1.05); /* Agrandir légèrement lors du survol */
    transition-duration: 0.3s; /* Durée de l'effet de survol */
    
}
.website-type p {
    color: #000000; /* Couleur de texte pour la description */
    }

.marketing h2 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    
}
/* État actif */
header nav a.active {
    text-decoration: underline;
}

/* Section about */
.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.about h1 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;

    }
.about p {
    color: #000;
    }
.about-text strong {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;

    }

/* Section Marketing */
.marketing {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.marketing h2 {
    color: #fff;
}

.marketing h3 {
    color: #22bed7;
    margin-top: 20px;
}

.marketing p {
    color: #000;
}
.marketing li {
    color: #000;
}
.marketing strong {
    color: #22bed7;
}

.marketing ul {
    list-style-type: disc;
    margin: 10px 0 20px 20px;
}

.marketing .btn {
    display: inline-block;
    background: #22bed7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.marketing .btn:hover {
    background: #22bed7;
}

/* Section services */
.services {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.services h2 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.services strong {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 10px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.actualites h2 {
    color: #fff;
    font-size: 2em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;

    }
.agency-info h2 {
    color: #fff;
    font-size: 2em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;

    }

/* Section services-detail */
.service-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.service-detail h1 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.website-type .btn {
    display: inline-block;
    background: #22bed7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.website-type .btn:hover {
    background: #22bed7;
}

/* Section social-media-management */
.social-media-management {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.social-media-management h2 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.social-media-management p {
    color: #000;
    }
.social-media-management li {
    color: #000;
    } 

.content-creation {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.content-creation h1 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.content-creation p {
    color: #000;
    }
.content-creation li {
    color: #000;
    } 
.image-slider {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slider-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scroll effect */
}

.slider-container img {
    width: 200px;
    margin: 50px 10px;
    paddubg: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    display: inline-block;
}

.slider-container img:hover {
    transform: scale(1.05);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.form-container {
    margin-top: 5px;
    margin-left: 5px;
    padding: 20px;
    margin-right: 5px;
    background: #22bed7;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #fff;
    color: #22bed7;;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1d2332;
}

.creation-marque {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.creation-marque h1 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.creation-marque p {
    color: #000;
    }
.creation-marque h3 {
    color: #000;
    }
.image-item img {
    width: 100%; /* Ajuster la largeur à 100% du conteneur */
    max-width: 600px; /* Limiter la largeur à 600px */
    height: auto; /* Garder les proportions */
    display: block; /* Faire de l'image un élément block */
    margin: 20px auto; /* Centrer l'image horizontalement avec une marge en haut et en bas */
    border-radius: 10px; /* Arrondir les coins de l'image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre à l'image */
    }

.fin-info {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    }
.contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.contact h2 {
    color: #fff;
    font-size: 3em; /* Taille du texte */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espace en bas */
    text-shadow: 2px 2px 5px #22bed7; /* Ombre portée */;
    }
.contact p {
    color: #000;
    }
